

.mainContact{
    /* font-size: 62.5%; */
    background-color: black;
    color: white;
    display: flex;
    padding: 10px 7%;
    align-items:center;
    justify-content: space-around;
    /* vertical-align: middle; */

}
span{
    margin-left: 5px;
}