.mainContact{
    width: 100%;
    /* margin: auto; */
    background-color: black;
    height: 5vh;
    /* color: white; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* margin-left: 35px; */
}

.mainContact span{
    position: relative;
    /* width: 85%; */
    color: white;
    margin-left: 8%;
    font-size: 1em;
}