.navbar{
    padding: 0%;
    margin: 0%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    max-height: 5vh;
    max-width: 100vw;
    /* background-color: white; */
    align-items: center;
    color: #FF6000;
    font-weight: bolder;
}

.navbar_logo{
    margin-left: 50px;
    font-size: 30px;
    text-decoration:wavy;
}
.navbar_right{
    margin-right: 50px;
}